html, body, #root {
    width: 100%;
}

#root {
    display: flex;
    height: 100vh;
}

.App-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.column{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}
.column.reversed{
    flex-flow: column-reverse;
}
.column .row.extended{
    flex: 1;
    display: flex;
}
.column .row.bottom{
    align-self: flex-end;
}
.row.padded, .column.padded {
    padding: 0.2em 0.5em;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
